@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>


<p>
    Direct for:
    <br>
    <button class="Facebook"><a href="https://www.facebook.com/huyquang.phung.18/">Facebook</a></button>
    <button class="Instagram"><a href="https://www.instagram.com/_.quangghuy/">Instagram</a></button>
    <button class="Zalo"><a href="https://zalo.me/0966869202">Zalo</a></button>
    <button class="Gmail"><a href="https://mail.google.com/mail/u/0/#inbox">Gmail</a></button>
</p>
